@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/font-awesome/scss/font-awesome";
@import "bower_components/Ionicons/scss/ionicons";

// admin
@import "bower_components/AdminLTE/dist/css/AdminLTE";
@import "bower_components/AdminLTE/dist/css/skins/_all-skins";
@import "node_modules/datatables.net-bs/css/dataTables.bootstrap";

.pagination-container {
    margin: 20px 0;
    .pagination {
        margin: 0;
    }
    .pages {
        text-align: left;
    }
    .page {
        text-align: right;
    }
}
