.section-profile{
	display: inline-block;
	width: 100%;
	padding: 70px 0;

	.image-container{
		text-align: center;
		.image{
			width: 100%;
			height: 262.2px;
			position: relative;
		}
		.name{
			position: absolute;
			bottom: 0;
			left: 10px;
			span{
				font-size: 20px;
			}
		}
		img{
			width: 100%;
		}
	}

	.information{
		padding: 10px 0;
	}
}